extends asciidoc

snippet co "command example"
	[subs="+quotes,+macros"]
	----
	[student@workstation ${3:~}]$ *$1*
	${2:...output omitted...}
	----

snippet om "output omitted"
	...output omitted...

snippet ud "under development sk snippet"
	include::{gls_snippets_dir}/ge_under_development.adoc[]
