extends asciidoc

snippet comm "command example"
	[subs="+quotes,+macros"]
	----
	[student@workstation ${3:~}]$ *$1*
	${2:...output omitted...}
	----

snippet omit "output omitted"
	...output omitted...

snippet dev "under development sk snippet"
	include::{gls_snippets_dir}/ge_under_development.adoc[]

snippet admon "admonition note, warning, important"
	[${1:NOTE}]
	====
	$0
	====

snippet key 
	kbd:[${1:Ctrl+c}]

snippet btn
	btn:[${1:Submit}]
